on:
  pull_request:
  push:
    branches: [main]

jobs:
  lints:
    name: Build x86_64-linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: cachix/cachix-action@v14
        with:
          name: zen-browser
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: |
          nix build --json --accept-flake-config \
            | jq -r '.[].outputs | to_entries[].value' \
            | cachix push zen-browser
